*{
    margin:0;
    font-family:arial;
    color:aliceblue;
}
body{
    background-color: rgba(220, 212, 219,0.5);
}
#navbar{
    height:60px;
    width:100%;
    background-color:#0f1111ef;
    display:flex;
}
/* .navlogo{
    height:50px;
    width:130px;
    margin-top:3px;
    padding:1px 8px 0px 6px;
} */
.logo{
    
    height:50px;
    width:130px;
    margin-top:3px;
    margin-left:8px;
    padding-left:1vh;
    border:1px solid transparent;
    position: relative;
}
.logo_{
    height:40px;
    width:110px;
    margin:1vh;
    background-image: url("logo.webp");
    background-position: center;
    background-size: cover;
}
.logo:hover{
    border:1px solid white;
}
.nav-adress{
    height:50px;
    margin-top:3px;
    padding:0px 5px;
    border: 1px solid transparent;
}
.nav-adress:hover{
    border:1px solid white;
}
.add-icon{
    display:flex;
    justify-content:space-between;
}
.p1{
    font-size:0.75rem;
    color:#cccccc;
    margin-left:15px;
    margin-top:10px;
}
.p2{
    font-size:1rem;
    color:white;
    margin:0px 23px 2px 3px;
    padding:0px
}
.search{
    height:40px;
    margin: 10px 0px 0 5px;
    display:flex;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;

}
select{
    width:50px;
    color:black;
    background-color:#dadada;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;

}
option{
    color:black;
}
.search-bar{
    width:500px;
    color:black;
    border:none;
    font-size: 1rem;
}
.search-icon{
    width:45px;
    color:violet;
    background-color:#ebaa4a;
    text-align:center;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.2rem;
    border:none;
}
.search-icon:hover{
    background-color:#c68f20;
}
select:hover{
    background-color:#cccccc;
}
.nation{
    height:40px;
    width:70px;
    display:flex;
    margin:3px 10px 2px 3px;
    padding-bottom:10px;
    border:1px solid transparent;
    align-items: center;
}
.flag{
    height:15px;
    width:20px;
    background-image:url("flag.png");
    background-size:cover;
    margin:25px 0px 5px 10px;
}
.lan{
    font-size:0.9rem;
    margin:25px 0 0 4px;
}
.nation:hover{
    border:1px solid white;
}
.sign{
    height:50px;
    width:135px;
    border:1px solid transparent;
    margin:3px 3px 5px 5px;
    text-align:bottom;
    padding-top:5px;
    padding-left:5px;
}
#sign-in{
    font-size:0.8rem;
}
#acc{
    font-size: 0.9rem;
    font-weight:bold;
}
.sign:hover{
    border:1px solid white;
}
.return{
    width:75px;
    height:40px;
    margin:3px 3px 0px 3px;
    padding-top:10px;
    padding-left:5px;
    border:1px solid transparent;
}
#returns{
    font-size:0.8rem;

}
#order{
    font-size:0.9rem;
    font-weight:bold;
}
.return:hover{
    border:1px solid white;
}

/* cart box */
.cart{
    height:30px;
    width:50px;
    margin-top:3px;
    padding: 10px 9px 10px 9px;
    border:1px solid transparent;
    display:flex;
}
.cart:hover{
    border: 1px solid white;

}
#nav-cart{
    font-size:0.85;
    font-weight:bold;

}
.bar2{
    height:45px;
    width:99.9%;
    color:white;
    background-color:#29313f;
    display:flex;
    border:1px solid transparent;

    
}
.menu{
    height:25px;
    width:50px;
    padding:14px 2px 2px 5px;
    margin-left:3px;
    margin-bottom:2px;
    border:100%;
    display:flex;
}
.all{
    margin-left:3px;
    margin-bottom:5px;
}
.menu:hover{
    border:1px solid white;
}
.bar2-ops{
    display:flex;
    height:30px;
    width:500px;
    text-align:center;
    justify-content:space-between;
    padding-top:13px;
    margin-left:2px;
}
.bar2-ops{
    text-align:center;
}
.hero-section{
    background-image:url(background.jpg.jpg);
    height:600px;
    width:100%;
    background-size:cover;
    position:absolute;
    z-index: 333;
}
.msg{
    position:relative;
    top:250px;
    left:20px;
    height:33px;
    width:97%;
    background-color: aliceblue;
    text-align:center;
    padding-top:10px;

}
.msg p{
    color:black;
    font-size:14px;
}
.msg a{
    color:#007185;
    text-decoration:none;
}
.msg a:hover{
    color:rgb(183, 70, 70);
    text-decoration:underline;
}
.matter{
    height:145vh;
    width:100%;
    /* background-color:rgba(236, 231, 230, 0.944); */
    position:relative;
    top:280px;
    /* z-index: -3; */
    display:flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.matter h2{
    position:absolute;
    top:4vh;
    color:black;
    font-size: 20px;
}
.box1{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position:relative;
}
.img1{
    height:18vh;
    width:20vh;
    /* border: 1px solid black; */
    background-image:url(img/box1-1.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
}
.img2{
    height:18vh;
    width:20vh;
    /* border:1px solid black; */
    position:absolute;
    top:10vh;
    left:25vh;
    background-image: url(img/box1-2.jpg);
    background-size: cover;
    background-position: center;
}
.img3{
    height:18vh;
    width:20vh;
    /* border:1px solid black; */
    position:absolute;
    bottom:16vh;
    background-image: url(img/box1-3.jpg);
    background-position: center;
    background-size: cover;
}
.img4{
    height:18vh;
    width:20vh;
    /* border:1px solid black; */
    position:absolute;
    bottom:16vh;
    left:25vh;
    background-image: url(img/box1-4.jpg);
    background-position: center;
    background-size: cover;
}
.box1 span{
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    position:relative;
    top:18vh;
}
.more{
    width:90%;
    font-size: 0.85rem;
    color:#007185;
    position:absolute;
    top:61vh;
    cursor: pointer;
}
.more:hover{
    color:rgb(201, 47, 47);
    
}
.box2{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position:relative;
}
.img5{
    height:48vh;
    width:95%;
    /* border: 1px solid black; */
    position:relative;
    top:9vh;
    left:1vh;
    background-image: url(img/box2.jpg);
    background-position: center;
    background-size: cover;
}
.shop{
    color:#007185;
    position:relative;
    top:13vh;
    font-size: 0.85rem;
    cursor: pointer;
}
.shop:hover{
    color:rgb(201, 47, 47);
}
.box3{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position:relative;

}
.img6{
    height:28vh;
    width:95%;
    /* border: 1px solid black; */
    position:relative;
    top:9vh;
    left:1vh;
    background-image: url(img/box2-1.jpg);
    background-position: center;
    background-size: cover;
}
.img6 div{
    color:rgb(82, 82, 82);
    font-size: 0.97rem;
    position:relative;
    top:28.3vh;

}
.img7{
    height:13vh;
    width:13vh;
    /* border:1px solid black; */
    position:absolute;
    top:42vh;
    left:4vh;
    background-image: url(img/box2-2.jpg);
    background-position: center;
    background-size: cover;
}
.img8{
    height:13vh;
    width:13vh;
    /* border:1px solid black; */
    position:absolute;
    top:42vh;
    left:18vh;
    background-image: url(img/box2-3.jpg);
    background-position: center;
    background-size: cover;
}
.img9{
    height:13vh;
    width:13vh;
    /* border:1px solid black; */
    position:absolute;
    top:42vh;
    left:32vh;
    background-image: url(img/box2-4.jpg);
    background-position: center;
    background-size: cover;
}
.box3 span{
    color:rgb(82, 82, 82);
    position:absolute;
    top:13vh;
}
.box4{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position: relative;
}
.img10{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box3-1.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
}
.img11{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box3-2.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
    left:25vh;
}
.img12{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box3-3.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
}
.img13{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box3-4.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
    left:25vh;
}
.box4 span{
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    position:relative;
    top:19vh;
}
.box5{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position: relative;
}
.box5 span{
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    position:relative;
    top:19vh;
}
.img14{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box5-1.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
}
.img15{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box5-2.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
    left:25vh;
}
.img16{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box5-3.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
}
.img17{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box5-4.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
    left:25vh;
}
.box6{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position: relative;
}
.img18{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box6-1.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
}
.img19{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box6-2.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
    left:25vh;
}
.img20{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box6-3.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
}
.img21{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box6-4.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
    left:25vh;
}
.box6 span{
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    position:relative;
    top:19vh;
}
.box7{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position:relative;
}
.box8{
    background-color:rgb(255, 255, 255);
    height:68vh;
    width:43vh;
    padding:0vh 3vh;
    /* border:1px solid black; */
    position:relative;

}
.img22{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box7-1.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
}
.img23{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box7-2.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:10vh;
    left:25vh;
}
.img24{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box7-3.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
}
.img25{
    height:19vh;
    width:19vh;
    /* border: 1px solid black; */
    background-image:url(img/box7-4.jpg) ;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:36vh;
    left:25vh;
}
.box7 span{
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
    position:relative;
    top:19vh;
}
.img26{
    height:48vh;
    width:95%;
    /* border: 1px solid black; */
    position:relative;
    top:9vh;
    left:1vh;
    background-image: url(img/box8.jpg);
    background-position: center;
    background-size: cover;
}